

<!DOCTYPE html>
<html>
<head>
	<title>Anthony Flores Portfolio</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="css/about.css">
	<link href="https://fonts.googleapis.com/css?family=Dancing+Script" rel="stylesheet">
</head>

<body>
	
	<a href="work.html"><WORK></a>
	<a href="about.html"><ABOUt></a>
	<a href="contact.html"><CONTACT></a>

	<h1> About AFStudios </h1>

	<h2>Style</h2>
	<p>AFStudios style consist of photograpghs based on nature, culture, and city life. The Photographs taken are all taken from Anthony Flores.</p>
	
	











</body>
</html>










