div.logo{
	float: left;

    
}

body{
	width: 960px;
	margin: 0 auto;
	background: url("images/.jpg") no-repeat
	center center fixed;
	background-size: cover;
	font-family: 'Dancing Script', cursive;
}

p{
	
	color:black;
	text-align: left;
	font-size: 50px; 

}
h1{
	color:black;
	text-align: center;
	font-size: 100px;
	margin:auto;

}
h2{
	font-size: 70px;
	margin-bottom: 0;
	}
.rt-responsive{ 
	max-width:50%;
	width: auto; 
	height: auto;
	float: right;
	margin:0 0 25px 25px;
	}
.navbar{
	display: inline-block;
	width: 65px;
	background-color: white;
	float: right;
	padding: 8px;
	margin: 0;
	text-align: center;

} 


footer {
	size: 30px;
	background-color:white ;
	float: left;
}


